/* style.css */
@font-face {
    font-family: 'BerkshireSwash';
    src: url('../fonts/BerkshireSwash-Regular.woff2') format('woff2'),
         url('../fonts/BerkshireSwash-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BerkshireSwash', cursive;
}

.static img {
    margin-left: 0.5em;
    width: 450px;
}

/* Change the font for specific elements */
h1, h2, h3, h4, p {
    font-family: 'BerkshireSwash', cursive;
    color: yellowgreen;
    text-align: center;
    padding: 1px;
}

.small {
    font-size: 12px; /* Adjust the font size as needed */
}

/* Define a class for styling the footer */
footer {
    font-family: 'Berkshire Swash', cursive;
    font-size: 16px;
    color: #333;
}
