/* style.css */
@font-face {
    font-family: 'BerkshireSwash';
    src: url('../fonts/BerkshireSwash-Regular.woff2') format('woff2'),
         url('../fonts/BerkshireSwash-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BerkshireSwash', cursive;
}

.static {
    margin: 2em auto; /* Center the .static element */
}

.static img {
    width: 100%; /* Make the image fill the width of its container */
    max-width: 450px; /* Set a maximum width for the image */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any default inline styles */
    margin: 0 auto; /* Center the image */
}

/* Additional styling for the list items */
.list-unstyled {
    margin-top: 10px;
}

/* Change the font for specific elements */
h1, h2, h3, h4, p {
    font-family: 'BerkshireSwash', cursive;
    color: yellowgreen;
    text-align: center;
    padding: 1px;
}

/* .small {
    font-size: 12px; /* Adjust the font size as needed 
}  */

/* Define a class for styling the footer */
footer {
    font-family: 'BerkshireSwash', cursive;
    font-size: 16px;
    color: black;
}
