<!-- templates/admin_login.html -->

{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Admin Login</h1>

    <form method="post" action="{{ url_for('admin_login') }}" style="text-align: center;">
        <label for="username">Username:</label>
        <br>
        <input type="text" name="username" required placeholder="Enter your username" style="background-color: smoke;">
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" name="password" required placeholder="Enter your password" style="background-color: smoke;">
        <br>
        <input type="submit" value="Login">
    </form>
{% endblock %}
