<!-- templates/index.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="static rounded">
                <img src="{{ url_for('static', filename='pik_n_go_goods.png') }}" alt="Image Caption" class="rounded">
            </div>
        </div>

        <div class="container">
            <h1>New Posts</h1>
            <ul>
                {% for post in latest_posts %}
                    <li class="list-unstyled text-center">
                        <a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
                        <span class="text-muted small">{{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
