<!-- templates/index.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ url_for('static', filename='pik_n_go_goods.png') }}" alt="Image Caption" class="img-fluid mt-4">
            </div>
        </div>

        <div class="container">
            <h1>Latest Posts</h1>
            <ul>
                {% for post in latest_posts %}
                    <li class="list-unstyled text-center">
                        <a href="{{ url_for('post', post_id=post[0]) }}">{{ post[1] }}</a>
                        <span class="text-muted">{{ post[3] }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}