{% extends 'base.html' %}

{% block content %}
    <div class="container">
      <div class="container">
        <h1>Admin Registration</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="container mt-3">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }} {{ form.username(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label }} {{ form.email(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label }} {{ form.password(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }} {{ form.confirm_password(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.verification_code.label }} {{ form.verification_code(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>
    </div>
        
    </div>
{% endblock %}
