{% extends 'base.html' %}

{% block title %}
    Earlier Posts
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class = "font-family-sans font-weight-bolder text-underline pb-5">Latest Articles</h1>
        <div class="row">
            {% if posts %}
                {% for post in posts %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="card">
                            {% if post.image_filename %}
                                <img src="{{ url_for('mn_pikngo_app.media', filename=post.image_filename) }}" class="card-img-top" alt="Post Image">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                {% set excerpt = post.body.split(' ', 50) | join(' ') %}
                                <p class="card-text">{{ excerpt }}{% if post.body|length > excerpt|length %}...{% endif %}</p>
                                <a href="{{ url_for('mn_pikngo_app.post', post_id=post.id) }}" class="btn btn-primary">Read More</a>
                                <p class="text-muted">Posted on: {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No posts available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
