<!-- templates/index.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="static rounded text-center">
                <img src="{{ url_for('static', filename='pik_n_go_goods.png') }}" alt="Image Caption" class="rounded img-fluid">
            </div>
        </div>
        <div class="container text-center mt-3">
            <h1>Latest Posts</h1>
            <ul>
                {% for post in latest_posts %}
                    <li class="list-unstyled">
                        <a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
                        <span class="text-muted">{{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                        
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
