<!-- templates/reset_password_request.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Reset Password</h1>
    <form method="POST" action="{{ url_for('mn_pikngo_app.reset_password_request') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control", placeholder="Enter your email address") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
