{% extends "base.html" %}

{% block content %}
<!-- FILEPATH: /home/dov3/Work/mbachia-pickngo/flask_app/chaotic_app/templates/about.html -->
<div class="container">
    <h1>About</h1>
    <p>Welcome to Pick 'n Go, a natural food blog!</p>
    <p>We are passionate about promoting healthy eating habits and sharing delicious recipes made with fresh, organic ingredients.</p>
    <p>Our mission is to inspire and empower individuals to make informed food choices and lead a balanced lifestyle.</p>
    <p>Join us on this journey as we explore the world of natural foods and discover new ways to nourish our bodies and minds.</p>
</div>
{% endblock %}
